manifest {
  mainScript = 'main.nf'
}

// default parameters
params {
    cpus = "2"
    memory = "16g"
    help = false
    profile = false

    // Inputs
    illumina = './illumina'

    // Databases
    kraken2nt = false
    kraken2nr = false

    // Options
    modular = "full"
    assembler = 'megahit'

    // Output
    output = './results'
}

profiles {
    //executer
    // planetsmasher profile
    planet {
        includeConfig 'conf/planet.config'
    }

    uppmax {
        process.executor = 'slurm'
    }

    local {
        process.executor = 'local'
    }
}
