manifest {
  mainScript = 'main.nf'
}

// default parameters
params {
    cpus = "2"
    memory = "16g"
    help = false
    profile = false

    // Inputs
    illumina = './illumina'

    // Optional input
    host_ref = ''

    // Databases
    kraken2nt = false
    kraken2nr = false

    // Options
    modular = 'full'
    assembler = 'megahit'
    skip_host_map = false

    // Output
    output = './results'
}

profiles {
    //executer
    // planetsmasher profile
    planet {
        includeConfig 'conf/planet.config'
    }

    uppmax {
        process.executor = 'slurm'
    }

    local {
        process.executor = 'local'
    }
}
