manifest {
  mainScript = 'main.nf'
}

// default parameters
params {
    cpus = "2"
    memory = "16g"
    help = false
    profile = false

    // Inputs
    illumina = './illumina'

    // Optional input
    host_ref = ''

    // Databases
    k2nt_db = ''
    k2prot_db = ''
    krak1_nt_db = ''

    // tools
    kraken1report = 'kraken-report'

    // Options
    assembler = 'megahit'
    skip_host_map = false
    skip_diamond4pavian = false
    diamond4megan = false
    krona_chart = false

    // Output
    output = './results'
}

profiles {
    //executer
    // planetsmasher profile
    planet {
        includeConfig 'conf/planet.config'
        params.krak1_nt_db = "/export/databases/kraken/current/nt"
    }

    uppmax {
        includeConfig 'conf/uppmax.config'
        params.krak1_nt_db = "/sw/data/uppnex/Kraken/latest/"
    }

    itrop {
        includeConfig 'conf/itrop.config'
    }

    local {
        process.executor = 'local'
    }
}
