docker {
    enabled = false
}

process {
    executor = 'slurm'

    withName: fastp {
        cpus = '4'
        time = '4h'
        module = 'bioinfo:fastp:0.20.1'
    }

    withName: prep_bt2_index {
        cpus = '4'
        time = '8h'
        module = 'bioinfo:bowtie2:2.3.4.1'
    }

    withName: bowtie2 {
        cpus = '4'
        time = '8h'
        module = 'bioinfo:bowtie2:2.3.4.1'
    }

    withName: megahit {
        cpus = '8'
        memory = '4g'
        time = '16h'
        module = 'bioinfo:MEGAHIT:1.2.9'
    }

    withName: kraken2prot_reads {
        cpus = '4'
        time = '8h'
        module = 'bioinfo:kraken2:2.1.1'
    }

    withName: kraken2prot_contigs {
        cpus = '4'
        time = '8h'
        module = 'bioinfo:kraken2:2.1.1'
    }

    withName: kraken2nt_reads {
        cpus = '4'
        time = '8h'
        module = 'bioinfo:kraken2:2.1.1'
    }

    withName: kraken2nt_contigs {
        cpus = '4'
        time = '8h'
        module = 'bioinfo:kraken2:2.1.1'
    }

    withName: diamond_contigs {
        cpus = '8'
        memory = '10g'
        time = '24h'
        module = 'bioinfo:diamond:2.0.11'
        //need kraken1
    }

    withName: diamond4megan_contigs {
        cpus = '8'
        memory = '10g'
        time = '24h'
        module = 'bioinfo:diamond:2.0.11'
    }

}
