docker {
    enabled = false
}

process {
    executor = 'sge'

    withName: fastp {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'fastp'
    }

    withName: prep_bt2_index {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'bowtie'
    }

    withName: bowtie2 {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'bowtie'
    }

    withName: megahit {
        clusterOptions = '-S /bin/bash -l h_vmem=4G'
        cpus = '8'
        memory = '4g'
        time = '16h'
        penv = 'smp'
        module = 'megahit'
    }

    withName: kraken2prot_reads {
        clusterOptions = '-S /bin/bash -l h_vmem=50G'
        cpus = '4'
        memory = '4g'
        time = '8h'
        penv = 'smp'
        module = 'kraken2'
    }

    withName: kraken2prot_contigs {
        clusterOptions = '-S /bin/bash -l h_vmem=50G'
        cpus = '4'
        memory = '4g'
        time = '8h'
        penv = 'smp'
        module = 'kraken2'
    }

    withName: kraken2nt_reads {
        clusterOptions = '-S /bin/bash -l h_vmem=50G'
        cpus = '4'
        memory = '4g'
        time = '8h'
        penv = 'smp'
        module = 'kraken2'
    }

    withName: kraken2nt_contigs {
        clusterOptions = '-S /bin/bash -l h_vmem=50G'
        cpus = '4'
        memory = '50g'
        time = '8h'
        penv = 'smp'
        module = 'kraken2'
    }

    withName: krona_chart_kraken {
        clusterOptions = '-S /bin/bash -l h_vmem=1G'
        cpus = '1'
        memory = '1g'
        time = '2h'
        penv = 'smp'
        module = 'kronatools'
    }

    withName: diamond_contigs {
        clusterOptions = '-S /bin/bash -l h_vmem=10G'
        cpus = '8'
        memory = '10g'
        time = '24h'
        penv = 'smp'
        module = 'diamond'
        module = 'kraken'
    }

    withName: diamond4megan_contigs {
        clusterOptions = '-S /bin/bash -l h_vmem=10G'
        cpus = '8'
        memory = '10g'
        time = '24h'
        penv = 'smp'
        module = 'diamond'
    }

}
