docker {
    enabled = false
}

process {
    executor = 'sge'

    withName: fastp {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'fastp'
    }

    withName: prep_bt2_index {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'bowtie'
    }

    withName: bowtie2 {
        clusterOptions = '-S /bin/bash -l h_vmem=2G'
        cpus = '4'
        time = '2h'
        penv = 'smp'
        module = 'bowtie'
    }

    withName: megahit {
        clusterOptions = '-S /bin/bash -l h_vmem=4G'
        cpus = '8'
        memory = '4g'
        time = '16h'
        penv = 'smp'
        module = 'megahit'
    }


}
