docker {
    enabled = false
}

process {
    executor = 'slurm'

    withName: fastp {
        cpus = '4'
        time = '4h'
        module = 'bioinfo-tools:fastp'
    }

    withName: prep_bt2_index {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:bowtie2'
    }

    withName: bowtie2 {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:bowtie2'
    }

    withName: megahit {
        cpus = '8'
        memory = '4g'
        time = '16h'
        module = 'bioinfo-tools:megahit'
    }

    withName: kraken2prot_reads {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:Kraken2'
    }

    withName: kraken2prot_contigs {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:Kraken2'
    }

    withName: kraken2nt_reads {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:Kraken2'
    }

    withName: kraken2nt_contigs {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:Kraken2'
    }

    withName: krona_chart_kraken {
        cpus = '1'
        memory = '1g'
        time = '2h'
        module = 'bioinfo-tools:Krona'
    }

    withName: diamond_contigs {
        cpus = '8'
        memory = '10g'
        time = '24h'
        module = 'bioinfo-tools:diamond:Kraken'
    }

    withName: diamond4megan_contigs {
        cpus = '8'
        memory = '10g'
        time = '24h'
        module = 'bioinfo-tools:diamond'
    }

}
